@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geist";
  src: local("Geist"), url("../public/font/Geist-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Geist", sans-serif;
}
